.game {
    width: 300px;
    margin: auto;
    text-align: center;
    font-weight: 600;
    color: #333; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

.title {
    font-size: 25px;
    background-color: #f0f0f0;
    padding: 20px 0;
    margin: 20px 0;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.box {
    width: 90px;
    height: 90px;
    background-color: #f0f0f0; 
    margin: 5px;
    float: left;
    font-size: 60px; 
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    transition: all 0.3s ease; 
}

.box:hover {
    cursor: pointer;
    background: #ccc; 
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
body {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0; 
    
}
body {
    background: linear-gradient(120deg, #ccc, #f4b5b5); 
}
